* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Nunito-Black";
  src: url("font/Nunito-Black.ttf");
}
li {
  list-style-type: none;
}
body {
  background: url(images/背景图8.png) top center;
  background-attachment: fixed;
  background-size: cover;
  font-size: 14px;
}
/*头部*/
.head {
  width: 1100px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
  position: sticky;
  top: 0; /*使用粘性定位时，必须至少要设置top、bottom、left、right中的一个属性*/
  z-index: 3;
}
.nav {
  width: 1100px;
  height: 70px;
  margin: auto;
  background: rgb(247, 156, 182, 0.5);
  padding-top: 10px;
  position: relative;
}
.nav h1 {
  color: #333;
  font-size: 40px;
  font-family: "Nunito-Black", Arial, sans-serif;
  position: absolute;
  top: 18px;
  left: 50px;
}
.nav ul {
  list-style: none;
  padding: 0;
  position: absolute;
  left: 300px;
  top: 25px;
}
.nav ul li {
  display: inline;
  margin: 0 7px;
}
.nav ul li a {
  color: #333;
  text-decoration: none;
  font-family: "SourGummy-Black", Arial, sans-serif;
  font-size: 23px;
  margin-left: 50px;
  padding: 15px 5px;
  font-weight: bold;
}
.nav ul li a:hover {
  width: 300px;
  background-color: rgb(247, 156, 182);
  border-radius: 30px;
}
.nav ul li a img {
  width: 26px;
  margin-right: 7px;
}
/*中间内容*/
.main {
  width: 1000px;
  min-height: 100vh;
  padding: 50px 50px 0 50px;
  overflow: hidden;
  margin: auto;
  background-color: rgba(239, 237, 237, 0.5);
}
h2 {
  font-size: 30px;
  color: #333;
  line-height: 36px;
  text-align: center;
}
.text p {
  font-size: 16px;
  color: #333;
  line-height: 2;
  text-indent: 32px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-top: 55px;
}
div[class^="container"] {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 40px;
}
div[class^="container"] .box {
  position: relative;
  width: 175px;
  height: 175px;
  overflow: hidden;
  transition: 0.5s;
  margin: 5px;
}
div[class^="container"] .box:hover {
  transform: scale(1.2);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
div[class^="container"] .box .img-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* 渐变遮罩（黑色——透明） 默认隐藏 */
div[class^="container"] .box .img-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #222, transparent);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
}
/* 鼠标移入，渐变遮罩显示 */
div[class^="container"] .box:hover .img-box::before {
  opacity: 1;
}
div[class^="container"] .box .img-box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 保持原有尺寸比例，裁切长边 */
}
div[class^="container"] .box .text-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  color: #d9cece;
  z-index: 2;
}
div[class^="container"] .box .text-box p {
  font-size: 13px;
  line-height: 20px;
  transform: translateY(200px);
  transition: 0.5s;
}
div[class^="container"] .box:hover .text-box p {
  transform: translateY(0);
  transition-delay: 0.1s;
}
/*底部*/
.foot {
  width: 1100px;
  height: 80px; 
  margin: 0 auto;
  z-index: 3;
  background: rgb(247, 156, 182, 0.5);
  clear: both;
  position: absolute;
  margin-left: 210px;
}
:root {
  /* 定义全局变量 */
  --z-trans: 200px;
}
.control {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.container3 {
  perspective: 600px;
  width: 150px;
  height: 170px;
  margin: 25px 0;
  transform-style: preserve-3d;
}
.container3 img {
  width: 150px;
  height: 180px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: transform 1s;
}
.container3 img:nth-child(1) {
  transform: rotateY(0deg) translateZ(var(--z-trans));
}
.container3 img:nth-child(2) {
  transform: rotateY(72deg) translateZ(var(--z-trans));
}
.container3 img:nth-child(3) {
  transform: rotateY(144deg) translateZ(var(--z-trans));
}
.container3 img:nth-child(4) {
  transform: rotateY(216deg) translateZ(var(--z-trans));
}
.container3 img:nth-child(5) {
  transform: rotateY(288deg) translateZ(var(--z-trans));
}
